@media (max-width:576px){
	.persento h1{
		font-size: 25px;
	}
	.tags .nav-item iconify-icon{
			margin-right: 0;
		}
		.client-img img{
			min-width: 50%;
		}
	.persento p{
		font-size: 16px;
	}	
		.tags .nav-item .nav-link{
			padding: 15px 10px;	
		}
		
}
@media (min-width:576px) and (max-width:768px){
	.persento h1{
		font-size: 35px;
	}
	.tags .nav-item iconify-icon{
			margin-right: 0;
		}
		.persento p{
		font-size: 20px;
	}
		.tags .nav-item .nav-link{
			padding: 15px 10px;	
		}
		
}
@media(min-width:768px) and (max-width:992px){
	.persento h1{
		font-size: 40px;
	}
	
	.persento p{
		font-size: 25px;
	}
	.tags .nav-item iconify-icon{
			margin-right: 0;
		}
		.tags .nav-item .nav-link{
			padding: 15px 10px;	
		}
		
}