@media (max-width:576px){
	.persento h1{
		font-size: 28px;
	}
	.tags .nav-item iconify-icon{
			margin-right: 0;
		}
		
	.persento p{
		font-size: 18px;
	}	
		.tags .nav-item .nav-link{
			padding: 15px 10px;	
		}
		.accordion-icon{
			right: -10;
			top: 10;
		}
		
		.accordion-button:not(.collapsed)::after{
			content:"";
			position:absolute;
			top: 14;
			right: -6;
		}
		


		
}
@media (min-width:576px) and (max-width:768px){
	.persento h1{
		font-size: 35px;
	}
	.tags .nav-item iconify-icon{
			margin-right: 0;
		}
		.persento p{
		font-size: 20px;
	}
		.tags .nav-item .nav-link{
			padding: 15px 10px;	
		}
		.accordion-icon{
			right: -20;
			top: 10;
		}
		
		.accordion-button:not(.collapsed)::after{
			content:"";
			position:absolute;
			top: 14;
			right: -16;
		}
		
}
@media(min-width:768px) and (max-width:992px){
	.persento h1{
		font-size: 48px;
	}
	
	.persento p{
		font-size: 28px;
	}
	.tags .nav-item iconify-icon{
			margin-right: 0;
		}
		.tags .nav-item .nav-link{
			padding: 15px 10px;	
		}
		
		
		.navbar-toggler{
		position: absolute;
		top: 10;
		right: 10;
		border: none;
		
	}
		
}