			
			
/*---header-nav start------*/			
			.hnav-head{
		
				height: 30px;
				
			}
			.hnav-bar{
		
				height: 30px;
				
			}
			.hnav-btn{
		
				height: 30px;
				
			}
			
/*---header-nav end------*/



/*----persento better start------*/

			.persento{
			
				height: 300px;
			}
			.persento h1{
				height: 300px;
			}
/*----persento better end------*/


/*---client start------*/
		.client{
			height: 200px;
			
		}
		.client-img{
			height: 70px;
		}

/*---client end------*/



/*---about-start----*/

		.about{
			position: relative;
			height: 400px;
			 
		}
		.about:after{
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: skewY(-4deg);
			background-color: black;
			z-index:-1;
		}
		.about-head{
			height: 250px;
		}
		
		.about-cont{
			height: 150px;
			margin-top: 20px;
		}
/*---about-end----*/



/*---count-start----*/

	.count-box{
		height: 70px;
	}


/*---count-end----*/

/*-----tags-start----*/

  .tags-box{
		height: 70px;
	}


/*-----tags-end----*/



/*----Voluptatem start---*/

	.Voluptatem-cont{
		height: 300px;
	}	
	.Voluptatem-img{
		height: 300px;
	}
/*-----Voluptatem end----*/



/*---services start------*/
	.service{
		position: relative;
		height: 550px;
	}
	.service:after{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: skewY(-4deg);
		z-index: -1;
		background-color: black;
		
	}
	.service-head{
		height: 100px;
		margin-top: 40px;
	}

	.service-box{
		height: 100px;
		margin-top: 20px;
	}


/*---services end------*/


/*-------PORTFOLIO start---*/

	.portfolio-head{
		height: 100px;
	}
	.portfolio-img{
		height: 200px;
	}

/*-------PORTFOLIO end---*/


/*---TESTIMONIALS start---*/
	.testimonial-head{
		height: 100px;
	}
	.testimonial-box{
		height: 150px;
	}

/*---TESTIMONIALS end---*/


/*---PRICING start---*/

	.pricing{
		position: relative;
		height: 500px;
	}
	.pricing:after{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform:skewY(-4deg);
		z-index: -1;
		background-color: black;
	}
	.pricing-head{
		height:100px;
	}
	.pricing-box{
		height:250px;
	}
	
	
		/*---PRICING end-----*/
		
		
/*---FREQUENTLY ASKED QUESTIONS start---*/
	.faq-head{
		height: 100px;
	}
	
		
/*--FREQUENTLY ASKED QUESTIONS end---*/		


/*---team  start-----*/

.team{
		position: relative;
		height: 500px;
	}
	.team:after{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform:skewY(-4deg);
		z-index: -1;
		background-color: black;
	}
	.team-head{
		height:100px;
	}
	.team-box{
		height:250px;
	}
	

/*---team  end-----*/

/*---CONTACT start---*/
	.contact-head{
		height: 100px;
	}
	.address{
		height: 200px;
	}
	.contact-form{
		height: 400px;
	}
	.form-details{
		height: 50px;
	}

/*---CONTACT end---*/

/*--footer start----*/
	.footer-box{
		height: 250px;
	}
	
	.footer-box1{
		height: 100px;
	}

/*--footer start----*/