			
/*-----comman style----*/		

		:root{
					--primary-color: #e03a3c;
					--secondry-color:black;
				}

		.title1{
			font-size: 35px;
			font-weight: 700;
			color: white;
			padding-bottom: 20px;
			
			
		}
		.title1-p{
			color: white;
			font-weight: 500;
			padding-bottom: 20px;
			font-size: 18px;
		}	
		
		.title2{
			font-size: 35px;
			font-weight: 700;
			padding-bottom: 20px;
			
			
			
		}
		.title2-p{
			
			font-weight: 500;
			padding-bottom: 20px;
			font-size: 18px;
		}
		
		.headeress{
			position: relative;
			
		}
		.headeress h1::after{
			content: "";
			position: absolute;
			display: block;
			width: 60px;
			background-color:var(--primary-color);
			border: 2px solid var(--primary-color);
			left:calc(50% - 30px);
			margin-top: 10px
			
		}
		.footer-box h5::after{
			content: "";
			display: block;
			width: 20px;
			background-color:var(--primary-color);
			border: 1px solid var(--primary-color);
			
			margin-top: 5px;
			
			
		}
		
		
/*---header-nav start------*/			
	.navbar-brand {
		color: black;
		font-size: 32px;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
		
	}
	
	.navbar-brand span{
		color: red;
	}
	 .navbar-nav .nav-item {
		padding-left: 15px;
	}
	
	.navbar-nav a{
		font-size: 16px;
		color: black;
		font-weight: 600;	
	}
	.dropdown-item{
		padding: 15px;
		
	}
	.navbar-collapse .btn{
		padding: 8px 25px;
		font-size: 18px;
		font-weight: 600;
	}
	.navbar-collapse .btn:hover{
		background-color: var(--secondry-color);
	}
	.navbar{
		position: relative;
		position: fixed;
		z-index: 3;
		top: 0;
		width: 100%;
		background-color: white;
		width:100%;
	}
	.navbar-toggler{
		position: absolute;
		top: 10;
		right: 0;
		border: none;
		
	}
	.nav-item a:hover{
		color: var(--primary-color)!important;
	}
	#navbarsupportedcontent .active{
		color: var(--primary-color) !important;
	}
	 .mobile-v{
		padding: 5px; 
		font-size:16px;
		font-weight: 600;
	}
	.dropdown-menu .dropdown-item:hover{
		background-color: white
	}
	.navbar .dropdown ul{
	position: absolute;
    display: block;
    left: 20;
    top:45;
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
	visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: 0.3s;
	} 
	.navbar .dropdown:hover ul{
		opacity:1;
		visibility: visible;
	}
/*---header-nav end------*/



/*----persento better start------*/

			.persento{
			
				background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url("images/persento-bg.jpg");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;	
				padding-bottom: 100px;
			}
			.persento h1{
				font-size: 50px;
				font-weight: 700;
				padding-top: 100px;
			}
		
			.persento p{
				font-weight: 500;
				padding-top: 15px;
				padding-bottom: 30px;
				font-size: 25px;
			}
			.per-btn .btn{
				padding: 10px 30px;
				margin-bottom: 100px;
				background-color: var(--primary-color);
			}
			.per-btn button{
				font-size: 18px;
				font-weight: 500;
			}
			.per-btn .btn:hover{
				border-color: white;
				background-color: rgb(41 42 43 / 50%);
			}
			
/*----persento better end------*/


/*---client start------*/
		.client{
			padding: 50px 0;

		}
		.client-img img{
						width: 100%;
						height: auto;
						filter: grayscale(1);
						opacity: 0.5;
		}
		.client-img:hover img{
						filter: grayscale(0);
						opacity: 1;
		}
		.client-img{
				padding: 10px 25px;
				margin-bottom: 10px;
			
		}
		.client .carousel-item {
			min-height: 15vh;
		}
			

 .carousel-indicators [data-bs-target] {
		width: 10px;
		height: 10px;
		border: solid var(--primary-color);
		border-radius: 50px;
	
}
.carousel-indicators{
		bottom: -40;
	}	
	.carousel-indicators .active{
		background-color: var(--primary-color);
	}
/*---client end------*/



/*---about-start----*/

		.about{
			position: relative;
			padding: 100px 0;
			
			
			 
		}
		.about:after{
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: skewY(-4deg);
			background-color: var(--secondry-color);
			z-index:-1;
		}
		.about-head h2{
			font-weight: 700;
			padding-bottom: 20px;
		}
		.about-head .btn{
			font-size: 16px;
			
			padding: 10px 35px;
			margin: 30px 0;
		}
		.about-head button:hover{
			background-color: var(--primary-color);
		}
		.about-cont h5{
			font-weight: 700;
			font-size: 22px;
			padding: 10px 0;
		}
		.about-cont p{
			font-size: 16px;
		}
		.about-icon:before{
			position: relative;
		}
		.about-icon iconify-icon{
			content: "";
			position: absolute;
			padding-left: 10px;
		}
/*---about-end----*/
	


/*---count-start----*/

	.count-box{
		padding: 40px 0;
		margin-bottom: 20px;
	}
	 .count-box span{
		font-family: 'Poppins', sans-serif;
		font-size: 35px;
		font-weight: 700;	
	}
		.count-box p{
			font-size: 14px;
			padding-top: 10px;
			
		}	
		
/*---count-end----*/

/*-----tags-start----*/
		.tagss{
			padding-bottom:60px;
		}
		.tags .nav-item{
				flex:0 0 auto;	
					width: 25%;
		}
		
		
		.tags .nav-item .nav-link{
					margin: 0 15px;
					display: flex;
					justify-content: center;
					align-items:center;
					border: 1px solid black;
					border-radius:0;
					padding: 30px 10px;	
		}
		.tags .nav-item:first-child .nav-link{
			margin-left: 0;
		}
		.tags .nav-item:last-child .nav-link{
			margin-right: 0;
		}
		.tags .nav-item span{
			font-size: 20px;
			font-weight: 500;
		}
		.tags .nav-item iconify-icon{
			margin-right: 10px;
		}
		.tags .nav-link.active {
		background-color: var(--primary-color);
		color: white !important;
		}
		.tags .nav-item .nav-link.active{
			background-color: var(--primary-color);
			color: white;
			border-color: var(--primary-color);
		}
		.tags .nav-item .nav-link:hover{
			border-color: lightgray;
		}
		.tags-incont h4{
			font-weight: 600;
			font-size: 25px;
		}
		.tags-incont p ,li{
		
			font-size: 18px;
		}
		
		
/*-----tags-end----*/







/*---services start------*/
	.service{
		position: relative;
		
		padding: 70px 0;
	}
	.service:after{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: skewY(-4deg);
		z-index: -1;
		background-color: black;
		
	}
	.service-box{
		background-color:rgb(45 40 40);
		margin-bottom: 20px;
		padding: 30px;
		display: flex;
		border-radius: 5px;
	}
	.service-box iconify-icon{
		margin-right: 20px;
	}
	.service-box a{
		text-decoration: none;
		color: white;
		font-size: 18px;
		font-weight: 700;
		
	}
	.service-box a:hover{
		text-decoration: underline;
	}
	.service-box p{
		color: white;
		font-size: 14px;
		font-weight: 500;
	}


/*---services end------*/


/*-------PORTFOLIO start---*/


	
	.portfolio{
		padding: 60px 0;
		
	}
	.port-nav .nav-item .nav-link{
		color: black;
	}
	.port-nav .nav-item .nav-link.active{
		background-color: var(--primary-color);
		color: white;
		border-radius: 5px;
	}
	.port-nav .nav-item .nav-link:hover{
		background-color: var(--primary-color);
		color: white !important;
		border-radius: 5px;
	}
	  .portfolio .portfolio-img{
		  position: relative; 
			overflow: hidden;
			
	  }
	  .portfolio .portfolio-img:hover img{
		  transform: scale(1.3);
		  overflow: hidden;
		  transition: 0.5s;
	  }
	   
	 .portfolio .portfolio-img::before{
		  content:"";
		  position: absolute;
		   background: rgba(17, 17, 17, 0.6);
		   left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0; 
			z-index: 2;
			  transition: all ease-in-out 0.3s;	
	  }
	   .portfolio .portfolio-img:hover::before{
		   opacity: 1;
	   }
	  
	  
	 .portfolio .portfolio-img .portfolio-cont{
		  position: absolute;
		   left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0;
			z-index: 3;	
			 transition: all ease-in-out 0.3s;	
	  }
	   .portfolio .portfolio-img:hover .portfolio-cont{
		   opacity: 1;
	   }
	  
	  .portfolio-cont h5{
		  color:white;
		  font-weight: 700;
	  }
	  .portfolio-cont p{
		  color: #a49e9e;
		  font-size: 16px;
		  font-weight: 600;
		  font-family: 'Poppins', sans-serif;
	  }
	   .portfolio-i iconify-icon{
		text-decoration: none;
		color: #a49e9e;
		
	  }
	   .portfolio-i iconify-icon:hover{
		   color: white;
	   }
/*-------PORTFOLIO end---*/


/*---TESTIMONIALS start---*/

	.testimonial{
		padding: 60px 0;
		
	}

	.card-body{
		padding: 0;
	}
	.card{
		border:none;
		border-radius: 10px;
		height: 100%;
		
		
	}
	
	.card h4{
		font-weight:700;
		font-size: 18px;
		margin-top: 15px;
	}
	.card h6{
		
		font-size:14px;
		font-weight: 600;
	}
	.card-text{
		font-weight: 500;
		font-size: 16px;
		
	}
	.testimonial-carousel{
		padding: 50px 10px;
	}
	
	


/*---TESTIMONIALS end---*/


/*---PRICING start---*/

	.pricing{
		position: relative;
	
		padding: 80px 0;
	}
	.pricing:after{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform:skewY(-4deg);
		z-index: -1;
		background-color: black;
	} 
	
	.card-header{
		border: none;
		
		
	}
	
	.card-header{
		background-color: rgb(45 40 40) !important;
	}
	
	.pricing-box .card-body {
		background-color: rgb(45 40 40) !important;
	}
	
	.pricing-box .list-group-item{
		background-color: rgb(45 40 40) !important;
		border: none;
	}
	
	.pricing-box .card .list-group-item{
		color: white;
		text-align: center;
	}
	.pricing-box .card-header{
		color:white;
		font-size: 18px;
		font-weight: 600;
		padding: 30px 0;
		text-align: center;
	}
	.pricing-box .card-body sup{
		font-size: 18px;
		top:-22;
	}
	.pricing-box .card-body .card-offer{
		font-size: 40px;
		font-family: 'Poppins', sans-serif;
	}
	.pricing-box .card-body .card-mon{
		font-size: 16px;
	}
	.pricing-box .list-group-item{
		font-size: 14px;
		padding: 10px 0;
	}
	.pricing-box .card-body .btn{
		color: white;
		padding: 10px 30px;
		
	}
	.pricing-box .card-body .btn:hover{
		background-color: rgb(45 40 40) !important;
		border-color: white;
	}
	.pricing-box .card .price{
		background-color: var(--primary-color) !important;
	}
	.pricing-box .price .btn:hover{
		background-color: var(--primary-color) !important;
		border-color: white;
	}
	.pricing-box .card-body {
		 border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
	}
	.pricing-box .card-body .price {
		 border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
	}
		/*---PRICING end-----*/
		
		
/*---FREQUENTLY ASKED QUESTIONS start---*/
	
	.faq{
		padding: 30px 0;
	}
	.faq-question .accordion-item button{
	
		transition: none;
		font-size: 18px;
		font-weight: 600;
	}
		.faq-question .accordion-button:not(.collapsed){
			color: var(--primary-color);
			background-color:white;
			box-shadow: none;
		}
		.accordion-button::after {
			background-image: none;
			
		}
		.accordion-icon{
			right: 17;
			top: 12;
		}
		
		.accordion-button:not(.collapsed)::after{
			background-image: url("images/closed.png");
			transform: rotate(0);
			
		}
		.accordion-button:focus{
			box-shadow: none;
		}
		.faq-question .accordion-button:hover{
			color: var(--primary-color);
		}
			.faq-question .accordion-body{
				font-weight: 500;
			} 
		
/*--FREQUENTLY ASKED QUESTIONS end---*/		


/*---team  start-----*/

.team{
		position: relative;

		padding-top:50px;
		padding-bottom: 90px;
		z-index: 1;
	}
	.team:after{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform:skewY(-4deg);
		z-index: -1;
		background-color: black;
	}
	.team-box .card-title{
		font-weight: 700;
		font-size: 18px;
		padding: 20px 0 0 15px;
	}
	.team-box .card-text{
		font-size: 14px;
		padding-bottom: 20px;
		padding-left: 15px;
		color: lightgray;
	}
	
	.team-box .teams a{
		margin: 0 5px;
		text-decoration: none;
		color: white;
		font-size: 18px;
		border: 1px solid white;
		padding:5px 10px;
		border-radius: 50%;
		background-color: var(--primary-color);
	}
	.team-box .teams a:hover{
		background-color: black;
	}
	.team-box .teams{
		bottom: 30;
		opacity: 0;
	}
	.team-box:hover .teams{
		transition: ease-in-out 0.5s;
		bottom: 20;
		opacity: 1;
	} 
/*---team  end-----*/

/*---CONTACT start---*/

	.contact{
		padding: 40px 0;
	}
	.address iconify-icon{
		border: 2px dotted var(--primary-color);
		border-radius: 50px;
		padding: 5px ;
		margin-bottom: 15px;
	}
	.address h5{
		font-weight: 700;
		padding-bottom: 10px;
	}
	.address address{
		font-size: 14px;
		font-family: 'Poppins', sans-serif;
	}
	.form-details .form-control{
		box-shadow: none !important;
		border-color: lightgray;
	}
	.form-details .form-control:focus{
		border-color: black;
	}
	.form-details .btn{
		border: none;
	}
	.footer-box .form-control{
		box-shadow: none;
		border-color: black;
	}
/*---CONTACT end---*/

/*--footer start----*/
	footer{
		background-color:  rgb(45 40 40);
		padding: 30px 0;
	}
		.footer-box{
			color: white;
			
		}
	.footer-box .footer-dot{
		color: var(--primary-color);
		font-size: 30px;
	}
	.footer-box h4{
		font-weight: 700;
		font-size: 28px;
	}
	.footer-box  address{
		font-size: 14px;
	} 
	.footer-box .phem{
		font-size: 16px;
		font-weight: 700;
	}
	.footer-box  a{
		text-decoration: none;
		color: lightgray;
		font-size: 14px;
		line-height: 30px;
		
	}
	.footer-box  a:hover{
		color: white;
	}
	.footer-box i{
		padding-right: 10px;
	}
	.footer-box h5{
		font-size: 18px;
		padding-bottom: 20px;
	}
	.footer-box ul{
		padding-left: 0;
	}
	.footer-box1 a{
		text-decoration: none;
		color: white;
		border: 1px solid rgb(45 40 40);
		padding: 10px;
		margin: 0 5px;
		background-color:rgb(45 40 40);
		border-radius: 5px;
		
	}
	.footer-box1 a:hover{
		background-color: var(--primary-color);
	}
	
	
	
/*--footer start----*/